ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li , a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
}
.container {
    width: calc(90vw);
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {

}
h1 , h2 , h3 , h4 , h5 , h6 , p {
    margin: 0;
    padding: 0;
}
.head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-bottom: 100px;
}
.head p {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    padding: 10px 20px;
    border: 2px solid black;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color 1ms .8s , color .2s .8s , border .3s .8s ;
}
.head p:hover {
    background-color: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
}
.head p::after {
    position: absolute;
    z-index: -1;
    content: "";
    background-color: var(--main-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    transition: width .3s .3s linear , height .3s .3s linear ,border-radius .3s .3s  linear , right .3s linear , opacity 1ms .9s ;
}
.head p:hover::after {
    right: 0%;
    width: 50%;
    height: 100%;
    border-radius: 0;
    opacity: 0;
}
.head p::before {
    position: absolute;
    z-index: -1;
    content: "";
    background-color: var(--main-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    transition: width .3s .3s linear , height .3s .3s linear ,border-radius .3s .3s  linear , left .3s linear , opacity 1ms .9s ;
}
.head p:hover::before {
    left: 0%;
    width: 50%;
    height: 100%;
    border-radius: 0;
    opacity: 0;
}