:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
  width: fit-content;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: "cairo", sans-serif;
}
.header {
  position: relative;
  width: 100vw;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  z-index: 1;
}
.header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  color: var(--main-color);
  font-size: 2.6rem;
  font-weight: bold;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.header .container .nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 5%;
}
.header .container .nav a {
  position: relative;
  font-size: 1.8rem;
  white-space: nowrap;
  padding: 10%;
  transition: color var(--main-transition),
    background-color var(--main-transition);
}
.header .container .nav a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .container .nav a::before {
  content: "";
  opacity: 0;
  position: absolute;
  background-color: var(--main-color);
  top: -1%;
  left: -100%;
  width: 100%;
  height: 5px;
  transition: all linear var(--main-transition);
}
.header .container .nav a:hover::before {
  opacity: 1;
  left: 0%;
}
.header .container .nav a:nth-of-type(4):hover + .header .nav-list {
  background-color: #2196f3;
  position: relative;
  display: block;
  top: 0px;
  opacity: 1;
}
.header .nav-list {
  background-color: white;
  position: relative;
  top: 100px;
  transition: var(--main-transition);
  opacity: 0;
  border-bottom: 3px solid var(--main-color);
  padding-top: 3%;
  padding-bottom: 3%;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 3%;
}
.header .nav-list .img {
  width: 100%;
}
.header .nav-list .img img {
  width: 100%;
}
.header .nav-list .content {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 20%;
  color: var(--main-color);
}
.header .nav-list .content .line {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  overflow: hidden;
  width: -webkit-fill-available;
}
.header .nav-list .content .line .link {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 160%;
  padding-bottom: 12%;
  padding-top: 12%;
  border-bottom: 1px #ededed solid;
}
.header .nav-list .content .line .link::before {
  position: absolute;
  opacity: 1;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: -100%;
  background-color: #fafafa;
  transition: all linear var(--main-transition);
}
.header .nav-list .content .line .link:hover:before {
  left: 0;
}

.header .nav-list .content .line .link i {
  position: relative;
  font-size: 2rem;
  align-self: center;
  text-transform: capitalize;
}
.header .nav-list .content .line .link a {
  position: relative;
  font-size: 2rem;
  color: var(--main-color);
  font-weight: bold;
  text-transform: capitalize;
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 992px) {
  .header .nav-list .content .line .link i,
  .header .nav-list .content .line .link a {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .header .container .nav {
    justify-content: end;
    gap: 0;
  }
  .header .container .nav a {
    padding: 8%;
    font-size: 1.7rem;
  }
  .header .nav-list {
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }
  .header .nav-list .img {
    display: none;
  }
  .header .nav-list .content {
    gap: 0;
    flex-direction: row;
  }
  .header .nav-list .content .line {
    width: 100%;
  }
  .header .nav-list .content .line .link {
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .header .nav-list .content .line .link i,
  .header .nav-list .content .line .link a {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 600px) {
  .header .container {
    flex-direction: column;
    justify-content: center;
  }
  .header .container .nav {
    justify-content: center;
    gap: 0;
  }
  .header .container .nav a {
    padding: 5%;
    font-size: 1.6rem;
  }
  .header .nav-list {
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }
  .header .nav-list .img {
    display: none;
  }
  .header .nav-list .content {
    gap: 0;
    flex-direction: column;
  }
  .header .nav-list .content .line {
    width: 100%;
  }
  .header .nav-list .content .line .link {
    padding-bottom: 4%;
    padding-top: 4%;
  }
  .header .nav-list .content .line .link i,
  .header .nav-list .content .line .link a {
    font-size: 1.6rem;
  }
}
.landing {
  position: relative;
  background-color: #ececec;
  height: 80vh;
  padding-bottom: 120px;
}
.landing .theback {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  rotate: 90deg;
  animation-name: uandd;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}
.landing .theback a {
  font-size: 4rem;
  color: var(--main-color);
  font-weight: 900;
  letter-spacing: -2px;
}
.thel {
  display: block;
  position: absolute;
  width: 100%;
  height: 25vh;
  background-color: #ffffff;
  bottom: -100px;
  width: 120%;
  rotate: -5deg;
  right: -15px;
}
@keyframes uandd {
  0% {
    bottom: 0;
  }
  25% {
    bottom: 2%;
  }
  50% {
    bottom: 0;
  }
  75% {
    bottom: 2%;
  }
  100% {
    bottom: 0;
  }
}
.landing .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0%;
}
.landing .container .txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1;
}
.landing .container .txt h1 {
  font-size: 4rem;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 10px;
}
.landing .container .txt p {
  color: #777;
  font-size: 2.3rem;
  line-height: 1.5;
}
.landing .container .img {
  position: relative;
  display: flex;
  justify-content: end;
  animation-name: updown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.landing .container .img img {
  position: relative;
  bottom: 0;
  width: 90%;
}
@keyframes updown {
  from {
    top: -5%;
  }
  to {
    top: 0%;
  }
}
@media only screen and (max-width: 992px) {
  .landing .container .img {
    display: none;
  }
  .landing .container .txt {
    align-items: center;
  }
  .landing .container .txt h1 {
    white-space: normal;
    text-align: center;
  }
  .landing .container .txt p {
    text-align: center;
  }
}
.articles {
  background-color: white;
  padding-bottom: var(--main-padding-bottom);
  padding-top: var(--main-padding-top);
  position: relative;
  z-index: 1;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 30px;
}
.articles .container .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  transition: var(--main-transition) linear;
}
.articles .container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 50%);
}
.articles .container .card .img {
  max-width: 100%;
}
.articles .container .card .img img {
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.articles .container .card .txt {
  padding: 20px;
  border-bottom: 1px solid #e6e6e7;
}
.articles .container .card .txt h3 {
  font-size: 1.8rem;
  padding-bottom: 10px;
}
.articles .container .card .txt p {
  color: #777;
  font-size: 1.6rem;
  line-height: 1.6;
}
.articles .container .card .foot {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.articles .container .card .foot p {
  font-size: 1.6rem;
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .card .foot .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.articles .container .card .foot .icon i {
  font-size: 1.4rem;
  color: var(--main-color);
}
.articles .container .card:hover .foot .icon {
  animation: rightleft 0.5s infinite;
}
@keyframes rightleft {
  from {
    right: 20px;
  }
  to {
    right: 10px;
  }
}
@media only screen and (max-width: 1100px) {
  .articles .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 850px) {
  .articles .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 650px) {
  .articles .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gallary {
  position: relative;
  background-color: #eee;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  z-index: 1;
}
.gallary .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.gallary .card {
  background-color: white;
  padding: 4%;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallary .card .frame {
  position: relative;
  overflow: hidden;
}
.gallary .card .frame::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.216);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0%;
  height: 0%;
  z-index: 2;
}
.gallary .card .frame:hover::before {
  animation: flash 0.4s linear;
}
@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.gallary .card img {
  max-width: 100%;
  transition: all var(--main-transition) linear;
  position: relative;
}
.gallary .card .frame:hover img {
  transform: rotate(5deg) scale(1.1);
}
.Features {
  padding-bottom: var(--main-padding-bottom);
  padding-top: var(--main-padding-top);
  position: relative;
}
.Features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.Features .container .card {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.Features .container .card .img {
  position: relative;
}
.Features .container .card:nth-of-type(1) .img::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244 64 54 / 60%);
}
.Features .container .card:nth-of-type(2) .img::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 150 136 / 60%);
}
.Features .container .card:nth-of-type(3) .img::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3 169 244 / 60%);
}
.Features .container .card img {
  max-width: 100%;
}
.Features .container .card h3 {
  position: relative;
  font-size: 4rem;
  text-align: center;
  padding: 30px;
}
.Features .container .card:nth-of-type(1) h3::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 25%;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44036;
}
.Features .container .card:nth-of-type(2) h3::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 15%;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #009688;
}
.Features .container .card:nth-of-type(3) h3::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 30%;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #03a9f4;
}
.Features .container .card p {
  color: #777;
  line-height: 1.8;
  font-size: 2rem;
  text-align: center;
}
.Features .container .card .bt {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.Features .container .card:nth-of-type(1) .bt button {
  background-color: white;
  border: #f44036 3px solid;
  padding: 10px 30px;
  font-size: 2rem;
  text-align: center;
  color: #f44036;
  font-weight: bold;
  border-radius: 5px;
}
.Features .container .card:nth-of-type(2) .bt button {
  background-color: white;
  border: #009688 3px solid;
  padding: 10px 30px;
  font-size: 2rem;
  text-align: center;
  color: #009688;
  font-weight: bold;
  border-radius: 5px;
}
.Features .container .card:nth-of-type(3) .bt button {
  background-color: white;
  border: #03a9f4 3px solid;
  padding: 10px 30px;
  font-size: 2rem;
  text-align: center;
  color: #03a9f4;
  font-weight: bold;
  border-radius: 5px;
}
